html {
    font-size: 1vh;
    user-select: none;
}


body {
    background-color: black;
    margin: 0;
    overflow:hidden;
}

main {
    /*height:100rem; */
}

img.map {
    z-index: 0;
}

/******************** Main moving ********************/
  .moving
, .moving path{
    cursor: move;
}

#empires {
    position: fixed;
}

.hidden {
    display: none;
}

.license {
    z-index: 99;
    position: absolute;
    font-size: 1.5rem;
    bottom: 0;
    color: #a79668;
    left: 2px;
}

body:not([data-zoom-level="0"]) .license {
    display: none;
}

/******************** Fonts ********************/

@font-face {
    font-family: BlackChancery;
    src: url(assets/BlackChancery.ttf);
}

  .duchyCapitalLabel
, .empireCapitalLabel
, .empireLabel {
    position: absolute;
    z-index: 3;
    font-family: BlackChancery, Georgia, serif;
    font-size: 2rem;
    color: white;
}

/******************** Paths ********************/
path {
    stroke-width: 0;
    transition: fill-opacity 0.2s;
}

main.moving path {
    cursor: pointer;
}

path:not(.selected) {
    fill: rgba(0, 0, 0, 0) !important;
}

path:not(.selected):hover {
    stroke-opacity: 0.3;
    stroke-width: 1rem;
}

path.selected {
    fill-opacity: 0.1;
    stroke-opacity: 1;
    stroke-width: 1.5rem;
}

#Ansemer {
    fill: #3044d9;
    stroke: #3044d9;
}

#Bellifère {
    fill: #bc0000;
    stroke: #bc0000;
}

#Cibella {
    fill: #cc6117;
    stroke: #cc6117;
}

#Erebor {
    fill: #ffd700;
    stroke: #ffd700;
}

#Lagrance {
    fill: #336d28;
    stroke: #336d28;
}

#Outrevent {
    fill: #ffffff;
    stroke: #ffffff;
}

#Sombreciel {
    fill: #4c0985;
    stroke: #4c0985;
}

#TerresDuNord {
    fill: #724d13;
    stroke: #724d13;
}

#Valkyrion {
    fill: #5a5a5a;
    stroke: #5a5a5a;
}

  .map
, svg {
    height: 100rem;
    width: auto;
    position: absolute;
    margin-left:auto;
    margin-right:auto;
}

  svg
, object.map{
    z-index: 1;
}

.duchyCapitalLabel {
    z-index: 99;
}

/******************** Empire Label ********************/

.empireLabel {
    color: #654b00;

    text-shadow:   1px    0 0 #fff
                , -1px    0 0 #fff
                ,  0    1px 0 #fff
                ,  0   -1px 0 #fff
                ,  1px  1px   #fff
                , -1px -1px 0 #fff
                ,  1px -1px 0 #fff
                , -1px  1px 0 #fff;

    font-size: 5rem;

    font-weight:bold;
    font-style: italic;
}

.empire.selected > .empireLabel {
    opacity: 0.4;
    transition: opacity 0.1s
}

.empire:not(.selected) >.empireLabel {
    opacity: 0;
    transition: opacity 0.2s;
}

#FaërieEmpire > .empireLabel {
    top: 57rem;
    left: 35rem;
}

#IbélèneEmpire > .empireLabel {
    top: 27rem;
    left: 87.5rem;
}

/******************** Empire Capital Label ********************/

.empireCapitalLabel {
    color: #654b00;

    text-shadow:   1px 0 0 #fff
                , -1px 0 0 #fff
                , 0 1px 0 #fff
                , 0 -1px 0 #fff
                , 1px 1px #fff
                , -1px -1px 0 #fff
                , 1px -1px 0 #fff
                , -1px 1px 0 #fff;

    font-size: 3rem;
}

.empire.selected > .empireCapitalLabel {
    opacity: 1;
    transition: opacity 0.2s
}

.empire:not(.selected) >.empireCapitalLabel {
    opacity: 0;
    transition: opacity 0.2s
}

#FaërieEmpire > .empireCapitalLabel {
    top: 46rem;
    left: 44rem;
}

#IbélèneEmpire > .empireCapitalLabel {
    top: 43rem;
    left: 97.5rem;
}

#TerresDuNordEmpire > .empireCapitalLabel {
    top: 17.8rem;
    left: 58rem;
}



/******************** Duchy Label ********************/

.duchy:not(.selected) {
    opacity: 0;
    transition: opacity 0.2s;
}

img.duchyLabel:not(.selected) {
    opacity: 1;
    transition: opacity 0.2s;
}

.duchyLabel {
    position: absolute;
    height: 10rem;
    z-index: 2;
}

#AnsemerDuchy > .duchyLabel {
    top: 52rem;
    left: 10rem;
}

#BellifèreDuchy > .duchyLabel {
    top: 8rem;
    left: 107rem;
}

#CibellaDuchy > .duchyLabel {
    top: 37rem;
    left: 53rem;
}

#EreborDuchy > .duchyLabel {
    top: 43rem;
    left: 69rem;
}

#LagranceDuchy > .duchyLabel {
    top: 82rem;
    left: 59rem;
}

#OutreventDuchy > .duchyLabel {
    top: 8rem;
    left: 8rem;
}

#SombrecielDuchy > .duchyLabel {
    top: 65rem;
    left: 80rem;
}

#TerresDuNordDuchy > .duchyLabel {
    top: 8rem;
    left: 58rem;
}

#ValkyrionDuchy > .duchyLabel {
    top: 48rem;
    left: 107rem;
}

/******************** Duchy Capital Label ********************/

#AnsemerDuchy > .duchyCapitalLabel {
    top: 69rem;
    left: 21rem;
    width: 15rem;
}

#BellifèreDuchy > .duchyCapitalLabel {
    top: 23.5rem;
    left: 109rem;
}

#CibellaDuchy > .duchyCapitalLabel {
    top: 43rem;
    left: 43.5rem;
    width: 10rem;
}

#EreborDuchy > .duchyCapitalLabel {
    top: 38.5rem;
    left: 80rem;
}

#LagranceDuchy > .duchyCapitalLabel {
    top: 66.5rem;
    left: 63rem;
}

#OutreventDuchy > .duchyCapitalLabel {
    top: 21rem;
    left: 25rem;
}

#SombrecielDuchy > .duchyCapitalLabel {
    top: 74.5rem;
    left: 97rem;
}

#TerresDuNordDuchy > .duchyCapitalLabel {
    top: 20rem;
    left: 70.5rem;
}

#ValkyrionDuchy > .duchyCapitalLabel {
    top: 63rem;
    left: 110.5rem;
}


/* ********************* Measure ******************** */

svg {
}

svg:not(.measureEnable) .measure {
    display: none;
}

svg line {
    stroke: red;
    stroke-width:10;
}

svg text {
    font-family: BlackChancery, Georgia, serif;
}

svg rect {
    fill: rgba(255, 0, 0, 0.34);
    stroke: red;
    stroke-width: 5px;
}